
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="js/shared/angular.js"></script>
<script src="js/shared/angular-route.js"></script>
<script src="js/shared/angular-cookies.js"></script>
<script src="js/user/Properties.js"></script>
<script src="js/user/LoginController.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="InfyRetails" ng-controller="LoginController" >
	<div>
		<img src="img/Header.jpg" class="img-responsive" />
	</div>
	<div class="container-fluid indexpage">

		<div class="row" id="login-form-container">
			<div class="col-md-4"></div>
			<div class="col-md-4 bordering">
				<h2>Login</h2>
				<form ng-submit="loginForm.checkUserDetails()">
					<div class="form-group">
						<label>User Name</label> <input class="form-control" type="text"
							name="userName" maxlength="20" required="required"
							ng-model="loginForm.userName" />
					</div>
					<div class="form-group">
						<label id="password">Password</label> <input class="form-control"
							type="password" name="password" required="required"
							ng-model="loginForm.password" />
					</div>
					<input type="submit" type="button" class="btn btn-primary"
						value="Login">

				</form>
				<br/>
				<div ng-bind="loginForm.message" class="text-danger"></div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
</html>